</div>
</div>
<!-- main content area end -->
<!-- footer area start-->
<footer>
  <div class="footer-area">
    <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
  </div>
</footer>
<!-- footer area end-->
</div>
<!-- page container area end -->
<!-- jquery latest version -->
