<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/"><img src="/assets/images/icon/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                  <nav>
                      <ul class="metismenu" id="menu">
                          <li>
                              <a href="/" aria-expanded="true"><i class="ti-dashboard"></i><span>Home</span></a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Students</span></a>
                              <ul class="collapse">
                                  <li><a href="/students">Students</a></li>
                                  <li><a href="/students/add">Add Students</a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="javascript:void(0)" aria-expanded="true"><i class="ti-briefcase"></i><span>Teachers</span></a>
                              <ul class="collapse">
                                  <li><a href="/teachers">Teachers</a></li>
                                  <li><a href="/teachers/add">Add Teacher</a></li>
                              </ul>
                          </li>
                          <li>
                              <a href="javascript:void(0)" aria-expanded="true"><i class="ti-stats-up"></i><span>Subjects</span></a>
                              <ul class="collapse">
                                  <li><a href="/subjects">Subjects</a></li>
                              </ul>
                          </li>
                        </ul>
                  </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
