<!DOCTYPE html>
<html lang="en">
<head>
  <title>challenge</title>
</head>
<body>
  <h1>ADD <%= route.toUpperCase() %></h1>
    <form action="/<%= route %>/add" method="POST">
        Subject Name:<br>
        <input type="text" name="subjectName">
        <br><br>
        <input type="submit" value="ADD <%= route.toUpperCase() %>">
      </form>  
</body>
</html>