<!DOCTYPE html>
<html lang="en">
<head>
  <title>challenge</title>
</head>
<body>
  <h1>ADD STUDENT</h1>
    <form action="/student/add" method="POST">
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        email:<br>
        <input type="text" name="email">
        <br><br>
        <input type="submit" value="ADD STUDENT">
        <br>     
      </form>  
</body>
</html>