<!DOCTYPE html>
<html>
<head>
  <title>Add Students
  </title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
  <br>
  <div class="w-50 container">
    <form action="/subjects/add" method="POST">
      <div class="form-group">
        <h3><label for="subjectName">Subject Name</label> <br></h3>
        <input class="form-control" type="text" name="subjectName" id="subjectName" placeholder="Enter Subject Name">
      </div>
      <button type="submit" class="btn btn-dark" Value="Submit">Submit</button>
    </form> 
  </div>
</body>

</html>