<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1>Sekolah Halekos</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nemo perferendis expedita ducimus alias aut, sed ipsa maiores suscipit vero quae ipsum veniam dolor! Ad laudantium quae expedita quibusdam aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veniam aliquid at, saepe, quae id necessitatibus expedita, vel atque deleniti dolore tempora tenetur? Voluptas alias voluptates ut. Eveniet, perferendis quos!</p>
    <h5>Kegiatan di sekolah kami:</h5>
    <ol>
        <li>Berkebun</li>
        <li>Membangun Hotel</li>
        <li>Membuka Cakrawala</li>
    </ol>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusamus eius amet ducimus, fuga id ab nisi suscipit unde autem ea esse veritatis maxime deleniti quae eaque porro labore? Sed?</p>
</body>
</html>