<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 align="center">Sekolah Coding</h1>
    <p align="center">hai semua, selamat datang di website administrasi sekolah coding internasional</p>
    <table align="center">
      <tr>
        <td>List Students</td>
        <td>:</td>
        <td>
          <a href="/students">
            <button type="button" name="button">List Students</button>
          </a>
        </td>
      </tr>
      <tr>
        <td>List Teachers</td>
        <td>:</td>
        <td>
          <a href="/teachers">
            <button type="button" name="button">List teachers</button>
          </a>
        </td>
      </tr>
      <tr>
        <td>List Subject</td>
        <td>:</td>
        <td>
          <a href="/subjects">
            <button type="button" name="button">List Subjects</button>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
