<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body class="home">
    <%-include('./partials/navbar.ejs')%>
    <%-include('./partials/footer.ejs')%>  
</body>
</html>