<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
  <h1>SCORE</h1>
    <form action="/subject/<%= id %>/give-score" method="POST">
        SCORE:<br>
        <input type="text" name="score" >
        <br>
        <br><br>
        <input type="submit" value="ADD SCORE">
      </form> 
  <%-include('./partials/footer.ejs')%>
</body>
</html>