<!DOCTYPE html>
<html lang="en">
<head>
  <title>challenge</title>
</head>
<body>
  <h1>SCORE</h1>
    <form action="/subject/<%= id %>/give-score" method="POST">
        SCORE:<br>
        <input type="text" name="score" >
        <br>
        <br><br>
        <input type="submit" value="ADD SCORE">
      </form>  
</body>
</html>