@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* { box-sizing: border-box; }


body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

table {
  padding: 16px;
  text-align: center;
  line-height: 50px;
  border-collapse: separate;
  border-spacing: 0;
  width: 800px;
  margin: 20px auto;
}

thead tr:first-child {
  background: #1caeed;
  color: #fff;
  border: none;
}

th:first-child, td:first-child {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

.wrapper {
  text-align: center;
}

.add-btn {
  background-color: #1caeed;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}

.add-btn:hover {
  opacity:1;
}